vaadin-app-layout::part(navbar) {
    padding: 4px 24px;

}

h1 {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    gap: 4px;

    vaadin-icon {
        font-size: 1.4rem;
    }
}

#navigation {
    margin-left: auto;
}