#camera-settings {
    display: flex;
    flex-direction: column;
    background-color: var(--lumo-contrast-10pct);
    padding: 10px;
    border-radius: 12px;

    vaadin-horizontal-layout {
        flex-wrap: wrap;
    }
}

#studio-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#dialog-image-preview {
    width: 80%;
}

#dialog-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}